.container{
  text-align: center;
  background-color: whitesmoke;
}
img{
  width: 33%;
  height: auto;
  float: inline-end;
}
.highlight{
  background-color: yellow;
}
h3{
  text-align: center;
  color: green;
  
}
h4{
  color: green;
  text-align: center;
}
.black p{
  color: black;
  
}
.black h3 {
  color: black;
}
.black h4{
  color: black;
}

h1{
  color: grey;
}
.background{
  border: 2px black;
  padding: 4x;
  margin: 5px;
  box-sizing: border-box;
  background-color: lightgreen;
}
ul{
  text-align: left;
  list-style-position: inside;
}
ol{
  text-align: center;
  list-style-position: inside;
}
.float{
  width: 300px;
  height: auto;
  float: left;
}
.projects{
  text-align: left;
}
ul.language{
  text-align: center;
}
.courier{
  font-family: 'Courier New', Courier, monospace;
}









