.container{
  text-align: center;

}
img{
  width: 100px;
  height: auto;
}
.highlight{
  background-color: yellow;
}
h3{
  color: green;
}
h4{
  color: green;
}
.black p{
  color: black;
  
}
.black h3 {
  color: black;
}
.black h4{
  color: black;
}

h1{
  font-family: 'Courier New', Courier, monospace;
  color: grey;
}

